@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arisia Website</title>
</head>
<body>
    <div>
        This is arisia project.
    </div>
</body>
</html>
